@include theme(v-chip) using ($material) {
    &:hover::before {
        opacity: map-deep-get($material, 'states', 'hover')
    }
}

.w-100 {
    width: 100% !important;
  }
  
.h-100 {
  height: 100% !important;
}
  
.h-auto {
  height: auto !important;
}

.v-btn {
  font-family: $heading-font-family;
}

.v-application .font-family-heading {
  font-family: $heading-font-family !important;
}

.v-application .font-family-body {
  font-family: $body-font-family !important;
}
